
.btn-group .button{
	background-color: orange;
	border: 1px solid black;
	color: black;
	padding: 10px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	float: right;
	}
.btn-group .button:not(:last-child) {
  	border-right: none; /* Prevent double borders */
	}

.btn-group .button:hover {
  	background-color: #3e8e41;
  }