/*
Style.css is the stylesheet for the CampusDash website.
Author: Andrew Frank
Contributors: (add)
*/

.btn-group .button{
	background-color: orange;
	border: 1px solid black;
	color: black;
	padding: 10px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	float: right;
}

.btn-group .button:not(:last-child) {
  	border-right: none; /* Prevent double borders */
}

.btn-group .button:hover {
  	background-color: #736f6e;
}

.menu-btn .button {
	background-color: black;
	border: 1px solid black;
	color: white;
	padding: 10px 48px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 24px
	cursor: pointer;
}

.menu-btn .button:hover {
  	background-color: #736f6e;
}

.home-btn .button {
	background-color: orange;
	border: 1px solid black;
	color: black;
	padding: 10px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	float: right;
}

.home-btn-confirm .button {
	background-color: orange;
	border: 1px solid black;
	color: black;
	padding: 10px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	float: left;
}

.home-btn .button:hover {
	background-color: #736f6e;
}

.home-btn-confirm .button:hover {
	background-color: #736f6e;
}

.order-btn .button {
	background-color: orange;
	border: 1px solid black;
	color: black;
	padding: 10px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	float: left;
}

.order-btn .button:hover {
	background-color: #736f6e;
}

.column {
	float: left;
	padding: 10px;
	height: 600px;
	border: 2px solid black;
}

.column2 {
	float: left;
	width: 20%;
	padding: 10px;
	height: 1000px;
	border: 2px solid black;
}

.row2:after {
	content: "";
	display: table;
	clear: both;
}

.left, .right {
	width: 25%;
}

.middle{
	width: 50%;
}

.row:after {
	content:"";
	display: table;
	clear: both;
}

.boxed {
	border: 1px solid black;
}

* {
	box-sizing: border-box;
}

h1 {
	color: black;
	font-family: Times New Roman;
	text-align: center;
}

h2 {
	color: black;
	font-family: Times New Roman;
	text-align: center;
}

p {
	color: black;
	font-family: Times New Roman;
	padding: 30px;
	text-align: justify;
	font-size: 16px;
}